<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Home", root_path %> | 
  <%= link_to "Flights", flight_list_path %> | 
  <%= link_to "Bookings", bookings_list_path %> | 
  <%= link_to "Airports", airports_path %>
  <br><br>----------------------------------------------<br><br>
    <%= yield %>
  </body>
</html>
